/*#grid-container {
  display: grid;
   grid-template-columns: repeat(4, 1fr); 
}
*/
html, body {
    height: 100%;
    width: 100%;
    background-color: grey;
    margin: 10px;
  }
  
  p1 {
    text-align: right;
  }
  
  p {
    font-family: sans-serif;
  }
  
  .nav {
    text-align: right;
  }
  
  h1 {
    font: "Comic Sans MS";
    color: white;
  }
  
  header {
    background-color: darkgray;
  }

  
  main {
    padding-right: 5px;
  }

.grid1 {
  display: inline-block;
}
.grid2 {
  display: inline-block;
}
.grid3 {
  display: inline-block;
}
.grid4 {
  display: inline-block;
}

/*for phones*/

@media only screen and (max-width: 768px) {

}

/* for tablet */

@media only screen and (min-width: 768px) and (max-width: 1500px){

}

  /* for laptop */

@media only screen and (min-width: 1500px) {

}

