@use '@styles/abstracts' as *;

.multi-thumb-slider {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 24px;
  cursor: copy;

  &.limit {
    pointer-events: none;
  }

  &__input {
  /* ... */

    &::-webkit-slider-thumb {
      @include clickable-element;
      /* ... */
    }

    &::-moz-range-thumb {
      @include clickable-element;
      /* ... */
    }
  }
}