html, body {
    background-color: grey;
    margin: 10px;
  }

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: left;
}

h3 {
    display: flex;
    justify-content: left;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-form {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

.line-through {
    text-decoration: line-through;
  }

#delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}


 #done-button{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: lightgreen;    
} 

#done-button:hover::after{
    content: "Completed";
    position: absolute;
    left: 40px;
}

#not-done-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}

#not-done-button:hover::after{
    content: "Not Completed";
    position: absolute;
    left: 40px;
}

#todo-form {
    display: grid;
    border: 1px solid black;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 1fr;
}

button {
    grid-column: 1/3;
}